
<!-- Navbar -->
<nav class="gradient-border navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container">
    <a rel="canonical" class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo.jpeg" alt="The Hobby Tribe" width="auto" height="79"class="me-2">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-1 mb-lg-0">
        <li class="nav-item mx-2">
          <a rel="canonical" class="nav-link" href="/corporate">Corporates</a>
        </li>
        <li class="nav-item mx-2">
          <a rel="canonical" class="nav-link" href="/classes">Classes</a>
        </li>
        <li class="nav-item mx-2">
          <a rel="canonical" class="nav-link" href="/about">About</a>
        </li>
         <li class="nav-item mx-2">
          <a rel="canonical" class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item mx-2">
          <a rel="canonical" class="nav-link" href="/corporate#contact">Contact</a>
        </li>
        <li class="nav-item mx-2">
          <a class="btn btn-primary px-4 ms-lg-3" href="https://www.thehobbytribe.com/employee/authenticate?corporate=hobby_tribe"><i class="bi bi-box-arrow-in-right me-1"></i>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="breadcrumb-container" id="breadcrumbBar">
  <div aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/about">About</a></li>
      <li class="breadcrumb-item active" aria-current="page">Our Mission</li>
    </ol>
  </div>
</div>