<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport"/>
    <meta name="title" content="Employee Engagement Activity Organisers - Hobby Based | Corporate Events"/>
    <meta name="description" content="JExplore hobby activities for employees with expert corporate activity organisers. Boost morale through engaging, creative corporate activities and team bonding." />
    <meta name="keywords" content="hobby based employee engagement, Hobby activities for employees, Corporate activities for employees, Corporate activity organisers" />
    <meta name="google-site-verification" content="xJqRuDVMnVv7dfW0hKCxPREGiPFwLn6WEd5KFQfjBGs" />
    <title>Hobby Tribe</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/corporate.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <!-- Hero Section -->
    <section class="corporate-section">
      <div class="corporate-left">
        <h1>
          <span>Hobby Based</span><br /><span>Employee</span><br /><span
            >Engagement</span
          >
        </h1>
        <p id="typewriter-text"></p>
      </div>
      <div class="corporate-right" id="imageSlider">
        <img class="hobby-img1" src="/images/hobby1.png" alt="Dance Hobby" />
        <img class="hobby-img2" src="/images/hobby2.png" alt="Singing Hobby" />
        <img class="hobby-img3" src="/images/hobby3.jpg" alt="Photography Hobby"/>
      </div>
    </section>

    <!-- Partners Section -->
    <section class="partners">
      <h2>LEADING ORGANIZATIONS LOVE HOBBY TRIBE</h2>
      <div class="logo-globe-wrapper">
        <div class="logo-globe-track">
          <div class="logo-globe-slide">
            <img src="/images/img1.png" alt="img1" />
            <img src="/images/img2.png" alt="img2" />
            <img src="/images/img3.png" alt="img3" />
            <img src="/images/img4.png" alt="img4" />
            <img src="/images/img5.png" alt="img5" />
            <img src="/images/img6.png" alt="img6" />
            <img src="/images/img7.png" alt="img7" />
            <img src="/images/img8.png" alt="img8" />
            <img src="/images/img9.png" alt="img9" />
            <img src="/images/img10.png" alt="img10" />
            <img src="/images/img11.png" alt="img11" />
            <img src="/images/img12.png" alt="img12" />
            <img src="/images/img13.png" alt="img13" />
            <img src="/images/img14.png" alt="img14" />
            <img src="/images/img15.png" alt="img15" />
            <img src="/images/img16.png" alt="img16" />

            <img src="/images/img1.png" alt="img1" />
            <img src="/images/img2.png" alt="img2" />
            <img src="/images/img3.png" alt="img3" />
            <img src="/images/img4.png" alt="img4" />
            <img src="/images/img5.png" alt="img5" />
            <img src="/images/img6.png" alt="img6" />
            <img src="/images/img7.png" alt="img7" />
            <img src="/images/img8.png" alt="img8" />
            <img src="/images/img9.png" alt="img9" />
            <img src="/images/img10.png" alt="img10" />
            <img src="/images/img11.png" alt="img11" />
            <img src="/images/img12.png" alt="img12" />
            <img src="/images/img13.png" alt="img13" />
            <img src="/images/img14.png" alt="img14" />
            <img src="/images/img15.png" alt="img15" />
            <img src="/images/img16.png" alt="img16" />
          </div>
        </div>
      </div>
    </section>

    <!-- Interest section -->
    <section class="unique-offer-section">
      <div class="unique-offer-wrapper">
        <div class="unique-offer-image">
          <img src="/images/hat-man.png" alt="Hobby Illustration" />
        </div>
        <div class="unique-offer-text">
          <h2>What do we offer?</h2>
          <ul class="unique-offer-dropdown">
            <li class="unique-offer-item">
              <div class="unique-offer-header">
                In Person Hobby Workshops
                <span class="unique-arrow">&#9662;</span>
              </div>
              <div class="unique-offer-details">
                <p>
                  Attend hobby workshops in your local area with expert mentors
                  and peers.
                </p>
              </div>
            </li>

            <li class="unique-offer-item">
              <div class="unique-offer-header">
                Gamified Online Platform
                <span class="unique-arrow">&#9662;</span>
              </div>
              <div class="unique-offer-details">
                <p>
                  Learn hobbies through games, challenges, and leaderboards to
                  stay motivated!
                </p>
              </div>
            </li>

            <li class="unique-offer-item">
              <div class="unique-offer-header">
                Weekly Winners
                <span class="unique-arrow">&#9662;</span>
              </div>
              <div class="unique-offer-details">
                <p>
                  Earn rewards and recognition for your hobby achievements every
                  week.
                </p>
              </div>
            </li>

            <li class="unique-offer-item">
              <div class="unique-offer-header">
                On Demand Classes
                <span class="unique-arrow">&#9662;</span>
              </div>
              <div class="unique-offer-details">
                <p>
                  Access recorded sessions anytime to learn at your own pace.
                </p>
              </div>
            </li>

            <li class="unique-offer-item">
              <div class="unique-offer-header">
                Live Workshops
                <span class="unique-arrow">&#9662;</span>
              </div>
              <div class="unique-offer-details">
                <p>
                  Join live virtual workshops and interact directly with
                  instructors.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Benefit Section -->
    <section class="benefit-section">
      <h2>How do you benefit?</h2>
      <div class="benefit-cards">
        <div class="benefit-card">
          <div class="card-content">
            <h3>Standardizes engagement</h3>
            <p>
              We make it easier to have offline employee engagement across the World
              simultaneously.
            </p>
          </div>
        </div>
        <div class="benefit-card">
          <div class="card-content">
            <h3>Age Friendly</h3>
            <p>
              We help get rid of the generational gap among employees with the
              engagement we provide.
            </p>
          </div>
        </div>
        <div class="benefit-card">
          <div class="card-content">
            <h3>Push not Pull</h3>
            <p>
              Gone are the days of chasing employees to attend engagement events we make engagement effortless, fun and self driven.
            </p>
          </div>
        </div>
        <div class="benefit-card">
          <div class="card-content">
            <h3>Flexible and Accountable</h3>
            <p>
              We work with you and the HR department’s schedule, aligning with
              your monthly calendar.
            </p>
          </div>
        </div>
        <div class="benefit-card">
          <div class="card-content">
            <h3>Provides Holistic Experience</h3>
            <p>Everyone within the organization get's connected</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Why Choose Us Section -->
    <section class="choose-section">
      <h2>Why choose us?</h2>
      <div class="choose-stats">
        <div class="choose-item">
          <img src="/images/hobbies-icon.png" alt="Hobbies Icon" />
          <h4>HOBBIES OFFERED</h4>
          <div class="target">
          <span class="count" data-target="500">0</span
          ><span class="plus">+</span>
          </div>
        </div>
        <div class="choose-item">
          <img src="/images/india-icon.png" alt="India Icon" />
          <h4>EXPERTS PAN INDIA</h4>
          <div class="target">
          <span class="count" data-target="200">0</span
          ><span class="plus">+</span>
          </div>
        </div>
        <div class="choose-item">
          <img src="/images/brands-icon.png" alt="Brands Icon" />
          <h4>PARTNERED BRANDS</h4>
          <div class="target">
          <span class="count" data-target="150">0</span
          ><span class="plus">+</span>
          </div>
        </div>
      </div>
    </section>

    <!-- Evidence Section -->
    <section class="evidence-section">
      <h2 class="evidence-heading">Backed By Evidence</h2>
      <div class="evidence-cards">
        <div class="evidence-card" style="background-color: #d0ff95">
          <img
            class="evidence-img"
            src="/images/engagement-icon.png"
            alt="Engagement Icon"
          />
          <h3>67%</h3>
          <p>Increase in employee engagement</p>
        </div>
        <div class="evidence-card" style="background-color: #aee9ff">
          <img
            class="evidence-img"
            src="/images/productivity-icon.png"
            alt="Productivity Icon"
          />
          <h3>15%</h3>
          <p>Improvement in productivity</p>
        </div>
        <div class="evidence-card" style="background-color: #f875d9">
          <img
            class="evidence-img"
            src="/images/cost-icon.png"
            alt="Cost Icon"
          />
          <h3>30%</h3>
          <p>Reduction in engagement cost</p>
        </div>
        <div class="evidence-card" style="background-color: #ffe168">
          <img
            class="evidence-img"
            src="/images/privacy-icon.png"
            alt="Privacy Icon"
          />
          <h3>100%</h3>
          <p>Employee privacy</p>
        </div>
      </div>
    </section>

    <!-- Testimonial Section -->
    <section class="testimonial-section">
      <div class="testimonial-container">
        <p class="testimonial-text" id="testimonial-text">
          “The Hobby Tribe did an awesome job in helping out employees relax and
          de-stress. Everyone had a great time tapping into their inner child.
          We strongly suggest trying out The Hobby Tribe to enhance employee
          engagement. All in all, it was a really enjoyable experience.”
        </p>
        <p class="testimonial-author" id="testimonial-author">
          HR at Klay Capital
        </p>

        <div class="testimonial-nav">
          <span class="arrow left" onclick="prevTestimonial()">&#x2039;</span>
          <span class="arrow right" onclick="nextTestimonial()">&#x203A;</span>
        </div>
      </div>
    </section>

    <div class="reach-me-container">
      <h2 class="reach-me">Reach out to us!</h2>
      <p class="reach-me2">
        Who doesn’t wish to be as carefree as a kid again?
      </p>
      <div class="reach-me3">
        We restore happiness in your workplace, one hobby at a time.
      </div>
    </div>

    <!--Contact section-->
    <section class="contact-section" id="contact">
      <div class="contact-wrapper">
        <div class="form-container">
          <h3>
            Employee Engagement<br />
            <span>is within your reach!</span>
          </h3>
          <form action="/submit-reach" method="POST" id="contactForm">
            <div class="form-grid">
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" required />
              </div>

              <div class="form-group">
                <label for="company">Company Name</label>
                <input type="text" name="company" id="company" required />
              </div>

              <div class="form-group">
                <label for="email">Work E-mail Address</label>
                <input type="email" name="email" id="email" required />
              </div>

              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" id="phone" required />
              </div>

              <div class="form-group">
                <label for="designation">Your Designation</label>
                <input type="text" name="designation" id="designation" />
              </div>

              <div class="form-group">
                <label for="offices">Number of Offices</label>
                <select name="offices" id="offices" required>
                  <option disabled selected value="">Select an option</option>
                  <option value="less than 5">Less than 5</option>
                  <option value="5-10">5-10</option>
                  <option value="10-15">10-15</option>
                  <option value="15-20">15-20</option>
                  <option value="20+">20 Plus</option>
                </select>
              </div>

              <div class="form-group full-width">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" />
              </div>

              <div class="form-group full-width">
                <label for="remarks">Remarks</label>
                <textarea name="remarks" id="remarks" rows="3"></textarea>
              </div>
            </div>

            <button type="submit">Submit</button>
          </form>
        </div>

        <div class="image-container">
          <div class="purple-ball large"></div>
          <div class="purple-ball small"></div>
          <img src="/images/community.png" alt="Happy Employees" />
        </div>
      </div>
    </section>

    <%- include('partials/topscroll') %> 
    <%- include('partials/footer') %>
     <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "The Hobby Tribe",
        "url": "https://www.thehobbytribe.com/"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.thehobbytribe.com/",
        "logo": "https://www.thehobbytribe.com/images/new%20logo.png",
        "name": "The Hobby Tribe",
        "sameAs": [
          "https://www.facebook.com/TheHobbyTribe",
          "https://twitter.com/tribehobby",
          "https://www.instagram.com/thehobbytribe_official/",
          "https://www.linkedin.com/company/the-hobby-tribe/"
        ],
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+918080094810",
            "contactType": "customer service",
            "areaServed": "IN",
            "availableLanguage": ["English"]
          }
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "itemListElement": []
      }
    </script>
    <script type="application/ld+json">
      []
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": { "@id": "https://www.thehobbytribe.com/", "name": "Home" }
          }
        ]
      }
    </script>
    <script src="/js/corporate.js"></script>
    <script src="/js/common.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"></script>
  </body>
</html>
